
.App{
  /* display: flex; */
  max-height:100vh;
  border-radius: 10px;
  background-color: white ;
}

@media screen and (min-width: 480px){
  .App{
    display:flex;
    padding: 1em;
    margin: 3% auto auto auto;
    width: 60%;
  }
}